<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suits name="TestSuite">
    <test name="DemoTest">
        <classes>
            <class name="com.example.AppTest"/>
            <class name = "com.example.SetPriority">
            </class>
        </classes>
    </test>
</suits>
</xml>